* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
}

body {
    margin: 0;
}

h1 {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.main {
    display: flex;
    flex-direction: column;
}

.wrapper {
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header {
    width: 100vw;
    background-color: #FFFFFF;
    position: sticky;
    top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu {
    width: 443px;
    display: flex;
    padding-top: 3px;
}


/* header logo starts */

.logo {
    display: flex;
    flex-direction: column;
}

.logo__title {
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.06em;
    line-height: 110%;
    line-height: 35.2px;
    color: #545454;
}

.logo__subtitle {
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #292929;
    line-height: 110%;
    text-align: center;
    padding-top: 11px;
}

.menu {
    display: flex;
}

.list {
    display: flex;
    margin: 0;
    padding: o;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.list__link {
    text-decoration: none;
    font-family: Arial;
    font-size: 0.94rem;
    line-height: 160%;
}

.list__link:hover {
    color: #292929;
    border-bottom: solid 3px #F1CDB3;
    padding-top: 3px;
}

.list__link_disabled {
    color: #545454;
}

.list__link_active {
    color: #292929;
    border-bottom: solid 3px #F1CDB3;
    padding-top: 3px;
}

.list__item {
    display: flex;
    align-items: center;
    line-height: 160%;
}


/* header styles end */


/* our-friends styles start */

.our-friends {
    background-color: #F6F6F6;
}

.our-friends-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.our-firends-heading {
    font-family: Georgia;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 419px;
    text-align: center;
    margin: 0 auto;
    padding-left: 19px;
}

.our-friends-slider {
    display: flex;
    flex-direction: column;
}

.slider-item {
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    background-color: #FAFAFA;
    width: 270px;
    height: 435px;
    align-items: center;
    margin-top: 30px;
    margin-right: -8px;
    margin-left: 8px;
}

.slider-item-selected {
    background-color: #FFFFFF;
}

.slider-item:hover {
    background-color: #FFFFFF;
}

.slider_small {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
}

.pets-card-title {
    font-family: Georgia;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.button-secondary {
    margin-top: 30px;
    padding: 14px 42px;
    width: 187px;
    height: 52px;
    background-color: #FFFFFF;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    font-family: Georgia;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #292929;
    cursor: pointer;
}

.button-secondary:hover {
    background-color: #FDDCC4;
}

.our-friends-nav {
    padding-top: 42px;
    padding-bottom: 81px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

.nav-item {
    padding: 0px 10px;
}

.nav-item a {
    text-decoration: none;
}

.round {
    display: block;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    text-align: center;
    padding: 10px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
}

.disabled-nav-item {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

.nav-item-btn {
    background-color: #F1CDB3;
    border: none;
    padding-top: 13px;
}

.round:hover {
    background-color: #FDDCC4;
    border: 2px solid #F1CDB3;
    color: #292929;
}

.nav-item-btn:hover {
    background-color: #FDDCC4;
    border: none;
    color: #292929;
    padding-bottom: 8px;
}


/* our-friends styles end */


/* footer  styles start */

.footer {
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer_wrapper {
    width: 100%;
    padding-top: 57px;
    padding-left: 8px;
}

.footer-header {
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    font-weight: 400;
}

.footer-text {
    font-family: Georgia;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    font-weight: 400;
    color: #F1CDB3;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.questions {
    width: 280px;
}

.location {
    width: 305px;
}

.footer_img {
    height: auto;
    margin-top: -22px;
    margin-right: -12px;
}

.footer-item {
    display: flex;
    display: row;
    align-items: center;
    column-gap: 20px;
    height: 32px;
    margin-top: 39px;
}


/* footer  styles end */